<!DOCTYPE html>
<html>
<head>
	<title>doge</title>
</head>
<body>
<h1>Cute doge</h1>
<p>Hi, I'm a dog. Woof! </p>
<img src="https://cdn.vox-cdn.com/thumbor/s6HznC4HCYrV3axUS-7wVOPbC2c=/0x0:1020x680/2050x1367/cdn.vox-cdn.com/assets/3785529/DOGE-10.jpg">
<h3><strong>Some of my favorite places</strong></h3>
<ul>
	<li>The beach</li>
	<li>The dog park</li>
	<li>Your lap :3</li>
</ul>
<p>Make sure to follow me on <a href = "https://www.instagram.com/world_famous_doge/"> Instagram </a></p>
</body>
</html>