<!DOCTYPE html>
<html>
<head>
    <title>Explore some web exercises!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/home.css'>
</head>
<body>
    <div class = "jumbotron jumbtoron-fluid">
        <div class = "container">
            <h1 class = "display-4"> Hi </h1>
            <h3> Here is a list of some of the simpler pages I've worked on while learning web dev :)</h3>
            <h4> As these are structured like standalone websites, you'll have to press back on your browser to come back here.</h6>
        </div>
    </div>
    <% basicPages.forEach(function(page){ %> 
    <li><font size = "3em"> <%= page.extension %> - <%= page.description %> </font></li>
    <% }); %> 
    
</body>
</html>



