<%- include("partials/basicHeader") %>


<h1> Automatically detect the language used in the text you enter! (You can make 3 requests per month) </h1>

<form action= "/languageDetector" method = "POST">
<input type = "text" placeholder="text" name = "text">
<button>Detect language!</button>
</form>

<% if(lang !== null){ %>
    <h2> The detected language of the text you last entered was <%= lang %> with confidence value <%= confidence %> </h2>
<% } %>

<%- include("partials/basicFooter") %>