<!DOCTYPE html>
<html>
<head>
	<title> Bugün hava soğuk biraz. </title>
	<link href = "/stylesheets/web_learning/pasha.css" type = "text/css" rel= "stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>

<h2> Enver Paşa'nın Bloğu </h2>

<div id = "outl">
	
	<div class = "article">
		<p>
		<div class = "date">
			22 Kasım 1881
		</div>
		<br>
		<div class = "title">
			Dünya'ya Hediye!
		</div>
		<br>
		<div class = "content first">
			Bugün doğdum. Annem beni eline aldı ve dedi ki, "Benim cici, taltı oğlum benim, şimdiden ne kadar güçlü görünüyorsun sen öyle!" Bende onaylarcasına ağlamaya başladım, ama gözlerimden yaş değil, kararlılık akıyordu. Hatta öyle ki, babam bana şimdiden gururla bakıyor, büyük adamlar ile benim aramda benzetmeler yapıyor ve gelecekte Napoleon gibi olacağamı söylüyordu.
		</div>

		<div class = "content only">
			Kaderimi, insanlığın KUDRET VS onaylarcasına dışarıda ardı kesilmeyen bir kar fırtınası insanları iliklerine kadar donduruyordu...
		</div>
		</p>
	</div>
	<hr>
	<div class = "article">
		<p>
		<div class = "date">
			1 Ocak 1902
		</div>
		<br>
		<div class = "title">
			Harp Okulunda Yeni Yıl
		</div>
		<br>
		<div class = "content first">
			Harp okulunda yeni bir yıla girmiş bulunmaktayız. Kışlar bana bir mesaj vermek istermişçesine halkımıza lütfettiği fırtınalı günleri her fırsatta aklıma kazımayı kendine amaç edinmiştir, ve bu kışın da ne yazık ki farklı olacağını sanmıyorum. Gene de söylemek zorunda hissediyorum ki, insan iradesinin yenemeyeceği hiçbirşey yoktur; ilahi hakkımızın önünde duran gerek düşman askerleri, gerek fırtınalı günler olsun. Ben de sonuçta harp okulunda önümdeki tüm engelleri teker teker aşarak bahsini kurduğum felsefenin örneği haline geldim.
		</div>

		<div class = "content only">
			Alt sınıflardan Mustafa Kemal adındaki genç bir öğrenci hakkında konuşulduğunu sık sık duymaya başladım. Yeni yıl'ın konuşmalarından birini kendisinin verdiğini görünce bu genç daha da ilgimi çekmeye başladı. Evet, onda 
		</div>
		</p>
	</div>

	

</div>

</body>
</html>