body{
    background-color:#ffffb3;
    margin-top: 2rem;
    margin-left: 2rem;
}

h1{
    text-align: center;
    text-shadow: 1px 1px black;
}

h2#lister{
    margin: 0.7rem 0;
}

form{
    margin: 1rem 0;
}
